body {
    font-family: 'Arial', sans-serif; 
    background-image: url(golden-black-premium-background-free-vector.jpg);
}
.navbar {
    background-color: #ff6f9c;
}
.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
}
.navbar-brand span {
    color: #fff1e6;
}
.banner {
    background-image: url('banner.jpg'); /* Aquí podrías colocar una imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.services {
    margin: 50px 0;
}
.services h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #ff6f9c;
}
.service-item {
    margin-bottom: 30px;
}
.service-item img {
    max-width: 100%;
    border-radius: 10px;
}
.service-item h3 {
    margin-top: 15px;
    font-size: 1.8em;
}
.contact {
    background-color: #ff6f9c;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.contact h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

